<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="org.northwinds.photocatalog"
	  android:versionCode="4" android:versionName="0.4 ALPHA (unreleased)">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".EditTrackActivity"/>
		<activity android:name=".GPSList"/>
		<activity android:name=".Main"
				  android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<!--
			<intent-filter android:label="Debug">
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
				<data android:mimeType="text/*"/>
			</intent-filter>
			-->
		</activity>
		<activity android:name=".MapViewActivity" android:label="Map View"
			  android:theme="@android:style/Theme.NoTitleBar"/>
		<activity android:name=".DebugActivity" android:label="Debug">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter android:label="Debug">
				<action android:name="android.intent.action.SEND"/>
				<action android:name="android.intent.action.SEND_MULTIPLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="*/*"/>
			</intent-filter>
		</activity>
		<activity android:name=".PrefAct"/>
		<activity android:name=".ShortcutActivity" android:label="PhotoCatalog"
			  android:theme="@android:style/Theme.Dialog"
			  android:taskAffinity=""
			  android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".TrackListActivity" android:label="@string/manage_tracks"/>
		<activity android:name=".Upload" android:label="PhotoCatalog">
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<action android:name="android.intent.action.SEND_MULTIPLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
			</intent-filter>
		</activity>
		<provider android:name=".LifeProvider" android:authorities="org.northwinds.photocatalog.lifelog"/>
		<receiver android:name=".Receiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.BATTERY_LOW"/>
				<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
			</intent-filter>
		</receiver>
		<service android:label="Logging Service" android:name=".Logger"/>
		<uses-library android:name="com.google.android.maps"/>
	</application>
	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="7"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
