<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="org.northwinds.photocatalog"
	  android:versionCode="4" android:versionName="0.4 ALPHA (unreleased)">
	<application android:icon="@drawable/icon"
		     android:label="@string/app_name"
		     android:name=".LifeApplication"
		     android:debuggable="true">
		<activity android:name=".DebugActivity"
			  android:label="@string/debug">
			<intent-filter>
				<action   android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter    android:label="@string/debug">
				<action   android:name="android.intent.action.SEND"/>
				<action   android:name="android.intent.action.SEND_MULTIPLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data     android:mimeType="*/*"/>
			</intent-filter>
		</activity>
		<activity android:name=".EditTrackActivity"
			  android:label="@string/edit_track"/>
		<activity android:name=".ExportActivity"
			  android:label="@string/save"
			  android:theme="@android:style/Theme.Dialog"/>
		<activity android:name=".GPSListActivity"
			  android:label="@string/gps_list"/>
		<activity android:name=".MainActivity"
			  android:launchMode="singleTask">
			<intent-filter>
				<action   android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".PreferencesActivity"/>
		<activity android:name=".ShortcutActivity"
			  android:label="@string/app_name"
			  android:theme="@android:style/Theme.Dialog"
			  android:taskAffinity=""
			  android:excludeFromRecents="true">
			<intent-filter>
				<action   android:name="android.intent.action.CREATE_SHORTCUT"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".TrackListActivity"
			  android:label="@string/manage_tracks"/>
		<activity android:name=".UploadActivity"
			  android:label="@string/app_name">
			<intent-filter>
				<action   android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data     android:mimeType="text/plain"/>
			</intent-filter>
			<intent-filter>
				<action   android:name="android.intent.action.SEND"/>
				<action   android:name="android.intent.action.SEND_MULTIPLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data     android:mimeType="image/*"/>
			</intent-filter>
		</activity>
		<activity android:name="org.acra.CrashReportDialog"
			  android:theme="@android:style/Theme.Dialog"
			  android:launchMode="singleInstance"
			  android:excludeFromRecents="true"
			  android:finishOnTaskLaunch="true"/>
		<provider android:name=".LifeProvider"
		          android:authorities="org.northwinds.photocatalog.lifelog"/>
		<receiver android:name=".Receiver">
			<intent-filter>
				<action   android:name="android.intent.action.BATTERY_LOW"/>
				<action   android:name="android.intent.action.BOOT_COMPLETED"/>
				<action   android:name="android.provider.Telephony.SMS_RECEIVED"/>
			</intent-filter>
		</receiver>
		<service android:name=".LoggingService"
			 android:label="@string/logging_service"/>
	</application>
	<uses-sdk android:targetSdkVersion="18" android:minSdkVersion="7"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.READ_LOGS"/> <!-- ACRA -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- ACRA -->
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
