<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="org.northwinds.photocatalog"
	  android:versionCode="2" android:versionName="0.2 ALPHA (unreleased)">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".EditTrackActivity"/>
		<activity android:name=".GPSList"/>
		<activity android:name=".Main"
				  android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<!--
			<intent-filter android:label="Debug">
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
				<data android:mimeType="text/*"/>
			</intent-filter>
			-->
		</activity>
		<activity android:name=".DebugActivity" android:label="Debug">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter android:label="Debug">
				<action android:name="android.intent.action.SEND"/>
				<action android:name="android.intent.action.SEND_MULTIPLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="*/*"/>
			</intent-filter>
		</activity>
		<activity android:name=".PrefAct"/>
		<activity android:name=".ShortcutActivity" android:label="PhotoCatalog"><!-- android:launchMode="singleInstance">-->
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".Upload" android:label="PhotoCatalog">
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<action android:name="android.intent.action.SEND_MULTIPLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
			</intent-filter>
		</activity>
		<service android:label="Logging Service" android:name=".Logger"/>
		<receiver android:name=".Receiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.BATTERY_LOW"/>
				<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
			</intent-filter>
		</receiver>
	</application>
	<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
